<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/}">Student Management System</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">All students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/IncrScholarship}">Increased Scholarship</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/StandardScholarship}">Standard Scholarship</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/studentsGrouped}">Students in ASC by Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/groupsGrades}">Groups Grades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/expulsion}">List for Expulsion</a>
            </li>
        </ul>
    </nav>
</div>